.card{
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 2px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding:20px;
  margin:20px;
  max-width:700px;
}
