.adminContainer{
    background: rgb(227, 228, 229);
    min-height: 730px;
    display: flex;
    width: 100%;
}
.leftabsoluteadmin{
    position: relative;
    left: 23%;
}
.rightabsoluteadmin{
    position: fixed;
    left: 75%;
}