.drawerRight {
    height: 730px;
    background-color: #101533;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    padding: 20px;
    margin-left:20px;
    min-width: 300px;;
    overflow-y: scroll;
  }
  .letrasright{
      color: #fff;
  }